@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
//import initial Bulma variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
$darkBlue: #111A2E;
$darkBlue-invert: #fff;
$lightBlue: #91E0E0;
$title-color: $darkBlue-invert;
$family-sans-serif: 'Open Sans',
sans-serif;
$family-header: 'PT Sans',
sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-header;
$primary: $darkBlue;
$light: $lightBlue;
$card-background-color: $lightBlue;
// import the rest of Bulma
@import '~bulma/bulma.sass';