// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
//import initial Bulma variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";
$darkBlue: #1B2442;
$lighterBlue: #2A646D;
$darkBlue-invert: #fff;
$lightBlue: #91E0E0;
$darkOrange: #DA6E23;
$title-color: $darkBlue-invert;
$subtitle-color: $darkBlue-invert;
$button-background-color: $darkOrange;
$button-color: $darkBlue-invert;
$button-border-color: $darkOrange;
$box-background-color: $lightBlue;
$navbar-item-color: $darkBlue-invert;
$navbar-item-hover-color: $darkBlue-invert;
$navbar-item-hover-background-color: $lighterBlue;
.navbar-menu.is-active {
    display: block;
    background-color: #111a2e;
}

.is-clickable {
    cursor: pointer;
}

$footer-background-color: #111a2e;
$family-sans-serif: 'Open Sans',
sans-serif;
$family-header: 'PT Sans',
sans-serif;
$body-color: $grey-lighter;
$family-primary: $family-sans-serif;
$family-secondary: $family-header;
$primary: $darkBlue;
$light: $lightBlue;
$card-background-color: $lightBlue;
// import the rest of Bulma
@import '~bulma/bulma.sass';